/*

!.bashrc
!.bash_profile
!.bash_logout
!scripts/

!.fonts/
!.prompt/
!.xmonad/
!.screenlayout/
!.xsession
!.xinitrc
!.xmobarrc
!.Xresources
!.dunstrc

!.tmux.conf

!.gitignore
!.gitconfig
!.gitignore.global
!.tigrc

!.vimrc
!.nanorc

!README.md

# FILE EXTENSIONS: no matter which folder they are in.
*.hi
*.o
.stack-work
*.pyc
*.sublime-workspace
