[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
