[push]
    default = tracking
[pull]
    rebase = true

[alias]
    cp = cherry-pick
    st = status
    cl = clone
    ci = commit --signoff
    co = checkout
    brD = branch -D
    br = branch -a -vv --no-merged
    rba = rebase --abort
    rbc = rebase --continue
    rb = rebase -i origin/master --autosquash --autostash
    rbf = -c core.editor=true rebase -i origin/master --autosquash --autostash
    diff = diff --word-diff
    dc = diff --cached
    fp = fetch --prune
    casm = commit -asm
    cfoobar = commit -am foobar --no-verify
    ca = commit --amend --no-edit
    caa = commit -a --amend --no-edit
    caaf = commit -a --amend --no-edit --no-verify
    edit-unmerged = \
    "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; subl -w `f`"
    step-forward = \
    "!git checkout `git rev-list --topo-order HEAD..master | tail -1`"
    step-backward = \
    "!git checkout HEAD~1"
    sl = log --oneline -10
    last-ci = log --format="%H" -1
    push-new-upstream = \
    "!git push --set-upstream origin `git rev-parse --abbrev-ref HEAD`"
    sf = show --stat
    rf = reset HEAD~1 --

[guitool "Rebase onto master"]
    cmd = git rebase -i origin/master
[guitool "Rebase - Continue"]
    cmd = git rebase --continue
[guitool "Rebase - Skip"]
    cmd = git rebase --skip
[guitool "Rebase - Abort"]
    cmd = git rebase --abort
[guitool "Pull with Rebase"]
    cmd = git pull --rebase
[format]
    signoff = true
[core]
    editor = vim
    excludesfile = ~/.gitignore.global
    pager = diff-so-fancy | less --tabs=4 -RFX

[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
[remote "origin"]
    prune = true
[include]
    path = ~/.gitconfig.local
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 226
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
