/*

!.bashrc
!.bash_profile
!.bash_logout
!scripts/

!.xmonad/
!.xinitrc
!.xmobarrc
!.Xresources
!.dunstrc

!.tmux.conf

!.stack/config.yaml
!.stack/global-project/stack.yaml

!.gitignore
!.gitconfig
!.tigrc

!.vimrc
!.nanorc

!README.md

# FILE EXTENSIONS: no matter which folder they are in.
*.hi
*.o
.stack-work
*.pyc
*.sublime-workspace
