/*

!.Xresources
!.aliases
!.bash_logout
!.bash_profile
!.bashrc
!.config/
!.dunstrc
!.gitconfig
!.gitignore
!.gitignore.global
!.ipython/
!.local/
!.logs/
!.nanorc
!.screenlayout/
!.shrc
!.stack/
!.tigrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xmobarrc
!.xmonad/
!.xsession
!.zshrc
!README.md
!scripts/
