Xcursor.theme: ArchCursorTheme
Xmessage.form.okay.shapeStyle:         rectangle
!Xmessage.form.okay.background:         #777777
!Xmessage.form.okay.foreground:         snow
!Xmessage*message*background:          snow
Xmessage*buttons:                       OK
Xmessage*defaultButton:                 OK
Xmessage*Background:                  black
Xmessage*Foreground:                  grey85
Xmessage.Scrollbar:                   WhenNeeded
Xmessage.form.message.Scroll:          WhenNeeded
Xmessage*Font:                         -*-*-*-*-*-*-12-*-*-*-*-*-*-*
Xmessage*borderWidth:                  2
Xmessage*Text.borderWidth:             0
Xmessage*Command.shapeStyle:           rectangle
Xmessage*Text.?.cursorColor:           white

xscreensaver.newLoginCommand: lxdm -c USER_SWITCH
xscreensaver.timeout: 0:01:00
xscreensaver.lockTimeout:0:00:05
xscreensaver.fadeSeconds:0:00:05

xterm*font:     *-fixed-*-*-*-20-*
xterm*background: black
xterm*foreground: white
xterm*locale: true
xterm*faceName: Mono:style=Book

URxvt*background:black
URxvt*foreground:white
URxvt*geometry:         83x23
URxvt.internalBorder: 1
URxvt*font: xft:PragmataPro for Powerline:size=15
URxvt*boldFont: xft:PragmataPro for Powerline:size=15
URxvt*scrollBar:        false
URxvt.perl-ext-common: default,matcher,tabbedex,clipboard
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.url-launcher: /usr/bin/google-chrome
URxvt.matcher.button: 1
URxvt.iconFile: /usr/share/icons/Menda-Square/apps/scalable/terminal.svg
