Xcursor.theme: ArchCursorTheme
Xmessage.form.okay.shapeStyle:         rectangle
!Xmessage.form.okay.background:         #777777
!Xmessage.form.okay.foreground:         snow
!Xmessage*message*background:          snow
Xmessage*buttons:                       OK
Xmessage*defaultButton:                 OK
Xmessage*Background:                  black
Xmessage*Foreground:                  grey85
Xmessage.Scrollbar:                   WhenNeeded
Xmessage.form.message.Scroll:          WhenNeeded
Xmessage*Font:                         -*-*-*-*-*-*-12-*-*-*-*-*-*-*
Xmessage*borderWidth:                  2
Xmessage*Text.borderWidth:             0
Xmessage*Command.shapeStyle:           rectangle
Xmessage*Text.?.cursorColor:           white