"*":
  "atom-terminal-panel": {}
  "autocomplete-haskell":
    completionBackendInfo: true
  "autocomplete-plus": {}
  "autocomplete-python":
    pythonPaths: "$PROJECT/../../bin/python;/usr/bin/python"
  core:
    autoHideMenuBar: true
    ignoredNames: [
      "*.stack-work"
      "*.o"
      "*.hi"
      "*.ipynb"
      "xmonad-x86_64-linux"
      "*.pyc"
    ]
    projectHome: "/home/zsedem/projects"
    themes: [
      "atom-dark-ui"
      "atom-darker-syntax"
    ]
  "cursor-history":
    flashColor: "success"
    flashDurationMilliSeconds: 300
    flashOnLand: true
    flashType: "word"
  editor:
    fontSize: 17
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "50e6bbb7-c8e3-972e-c108-4b075c1d971a"
  "haskell-ghc-mod":
    onSaveCheck: false
    onSaveLint: false
  linter:
    errorPanelHeight: 100
    gutterPosition: "Left"
    lintOnFly: false
    lintOnFlyInterval: 100
    showErrorTabLine: true
  "linter-hdevtools":
    hdevtoolsExecutablePath: "/home/zsedem/.local/bin/hdevtools"
  "linter-pep8":
    ignoreErrorCodes: [
      "E241"
      "E121"
      "E402"
    ]
    maxLineLength: 120
  "linter-pylint":
    executable: "pylint"
    messageFormat: "%s - %m"
    pythonPath: "%p/../../install/lib/python-2.7:%p"
    rcFile: "%p/.pylintrc"
  "terminal-panel": {}
  "tree-view": {}
  "vim-mode-plus":
    incrementalSearch: true
    setCursorToStartOfChangeOnUndoRedo: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".c2hs.source":
  editor:
    preferredLineLength: 120
".cabal.source":
  editor:
    preferredLineLength: 120
".haskell.hint":
  editor:
    preferredLineLength: 120
".haskell.latex.tex.text":
  editor:
    preferredLineLength: 120
".haskell.source":
  editor:
    preferredLineLength: 120
".hsc2hs.source":
  editor:
    preferredLineLength: 120
