'atom-text-editor':
  'ctrl-b': 'autocomplete-plus:activate'
  'alt-shift-right': 'term3:open-split-right'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-up': 'editor:move-line-up'
  'ctrl-shift-down': 'editor:move-line-down'
  'ctrl-k ctrl-c': 'string-case:camelcase'
  'ctrl-k ctrl-k': 'string-case:kebalcase'
  'ctrl-k ctrl-p': 'string-case:pascalcase'
  'ctrl-k ctrl-s': 'string-case:snakecase'
